<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>오늘의 할인 랭킹</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/list.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="header-warpper">
      <div class="logo-box"><a><img class="logo" src="/logo.png" alt="랭쿠jp 로고"></a></div>
      <nav class="header-nav">
        <ul>
            <a href="/static">
                <li class="active">할인랭킹</li>
            </a>
            <a href="/score">
                <li>종합랭킹</li>
            </a>
            <a href="/premium">
                <li>프리미엄</li>
            </a>
        </ul>
      </nav>
    </div>
  </header>

  <main id="main">
    Sorry
  </main>

  <footer>
    <div class="foot-container">
      <div class="f-meta">
        <p class="f-14 f-b" style="color: #7d7d7d;">ADERS</p>
        <p class="f-14" style="color: #7d7d7d">대표이사: 이지형</p>
        <p class="f-14" style="color: #7d7d7d;">Email: property@aders-international.com</p>
      </div>
      <div class="f-12" style="color: #7d7d7d">ⓒ 2025 rankujp INC.</div>
    </div>
  </footer>
</body>
<script src="/js/main.js" defer></script>

</html>