<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title th:text="${content.getTitle()}"></title>
    <meta name="description" th:attr="content=${content.description}" />
    <meta name="keywords" th:attr="content=${content.keyword}" />
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/hotel-detail.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="header-warpper">
      <div class="logo-box"><a href="/"><img class="logo" src="/public/logo.png" alt="랭쿠jp 로고"></a></div>
      <nav class="header-nav">
        <ul>
          <a href="/">
            <li>할인랭킹</li>
          </a>
          <a href="/score">
            <li>종합랭킹</li>
          </a>
          <a href="/premium">
            <li>프리미엄</li>
          </a>
        </ul>
      </nav>
    </div>

  </header>
  <main id="main">
    <section class="main-l">
      <section class="photo-section">
        <div class="photo-card thumbnail">
          <img th:src="${content.thumbnailImg + '?s=850x&ca=6'}" th:alt="${content.koName + '대표사진'}" decoding="async" data-nimg="fill">
        </div>
        <div class="photo-mini-section">
          <div class="photo-card sub">
            <img th:src="${content.photo2}" th:alt="${content.koName + '의 호실사진'}" decoding="async" data-nimg="fill">
          </div>
          <div class="photo-card sub">
            <img th:src="${content.photo3}" th:alt="${content.koName + '의 주변 풍경사진'}" decoding="async" data-nimg="fill">
          </div>
        </div>
        <div class="photo-more">1/20</div>
      </section>

      <section class="content-warpper">

        <section class="item-head">
          <div id="nav-prev-warpper">
            <ol>
                <li><a class="f-14 nav-prev" href="/">호텔 랭킹</a></li>
                <li><a class="f-14 nav-prev" href="/" th:text="${content.stateName}"></a></li>
                <li><a class="f-14" th:text ="${content.koName}"></a></li>
            </ol>
            <div class="share-this"></div>
          </div>
          <div class="item-head-title">
            <div style="display: flex; flex-direction: column; gap: 1.4rem; justify-content: space-between;">
              <div style="display: flex; gap: 1rem;">
                <div class="ranku detail" th:classappend="${
                     top == 1 ? 'gold' :
                    (top == 2 ? 'sliver' :
                    (top == 41 ? 'bronze' : 'normal' ))
                    }">
                  <span class="ranku-value" th:text="${top}"></span>
                </div>
                <h1 class="skip-2" th:text="${content.koName}"></h1>
              </div>
              <div style="display: flex; flex-direction: column; gap: 1rem;">
                <a th:href="${'https://www.google.com/maps?q='+ content.latitude + ',' + content.longitude}"
                   target="_blank" rel="noopener noreferrer" class="head-info-row" style="cursor: pointer;">
                  <div class="f-15"
                    style="display: flex; width: 2.2rem; height: 2.2rem; align-items: center; justify-content: center;">
                    <div class="location-pin"></div>
                  </div>
                  <div class="f-15" th:text="${content.address +', ' + content.zipcode}"></div>
                  <div class="location-right"></div>
                </a>
                <div class="head-info-row">
                    <div th:switch="${content.preferenceValue}">
                        <div th:case="1" class="business-svg"></div>
                        <div th:case="2" class="couple-svg"></div>
                        <div th:case="3" class="solo-svg"></div>
                        <div th:case="4" class="family-svg"></div>
                    </div>
                    <p class="f-15">
                        <b class="f-b"
                           th:text="${content.preferenceValue == 1 ? '비지니스' :
                              (content.preferenceValue == 2 ? '커플' :
                              (content.preferenceValue == 3 ? '혼자' : '가족'))}">
                        </b>
                        <span>에게 가장인기!</span>
                    </p>
                  <div style="margin: auto 1rem; width: 1px; height: 14px; border-left: 1px solid #d9d9d9;"></div>
                  <div class="hotel-star-svg"></div>
                  <p th:text="${content.starRating + '성'}"></p>
                </div>
              </div>

            </div>
            <div class="score-warpper">
              <div class="f-15 f-b">Ranku평점</div>
              <div class="ranku-total-score">
                  <div class="score" th:classappend="${
                      content.rankuScore >= 86 ? 'best' :
                      (content.rankuScore >= 71 ? 'verygood' :
                      (content.rankuScore >= 41 ? 'good' : 'normal'))
                      }">
                  </div>
                <p class="score-value xl" th:text="${content.rankuScore}"></p>
                  <p class="f-15" th:text="${
                      content.rankuScore >= 86 ? '매우 훌륭함' :
                      (content.rankuScore >= 71 ? '훌륭함' :
                      (content.rankuScore >= 41 ? '좋음' : '보통'))
                      }">
              </div>
            </div>

          </div>
          <div style="margin: 2rem 0; width: 100%; height: 1px; border-top: 1px solid #d9d9d9;"></div>
          <div class="calendar-warpper">
            <div class="calendar-head">
              <div class="f-15 f-b"><span class="calendar-svg"></span>&nbsp;날짜</div>
              <div style="gap: 1rem;">
                <input style="cursor: inherit; width: 11.6rem;  padding: 1rem 2rem;" class="btn-st" type="text"
                  placeholder="0000-00-00" autocomplete="off" th:value="${#temporals.format(content.bestStayDate, 'yyyy-MM-dd')}">
                <button class="btn-st">검색</button>
              </div>
            </div>

            <div class="detail-price-warpper">
              <div style="display: flex; gap: 1rem; justify-content: flex-end; align-items: center;">
                <p class="f-15 f-b">최저가</p>
                <div style="height: 1.4rem; width: 1px; border-left: 1px solid #d9d9d9;"></div>
                <p class="f-15" style="color: #959595;">1박당 요금</p>
              </div>
              <div style="display: flex; gap: .8rem;">
                <p class="discount-percent xl" th:text="${content.bestSailPrecent}"></p>
                <p class="daily-price xl" th:text="${content.bestDailyRate}"></p>
              </div>
            </div>
          </div>
        </section>
        <a class="banner-row">
          <div></div>
        </a>
        <section class="item-price-warpper">
          <div class="item-price-header">
            <div style="display: flex; gap: .6rem; align-items: center; position: relative;">
              <h2>이 날이 가장 저렴해요</h2>
              <div class="hover-info-svg"></div>
              <div class="hover-info-box">
                금일 기준으로 +45일 동안 가장 저렴한 날의 최저가를 알려드립니다.<br>(*공휴일 미분류)
              </div>
            </div>
            <div style="display: flex; gap: .6rem; align-items: center;">
              <p style="font-size: 1.4rem; line-height: 1.4; color: #919191;">25.09.30</p>
              <div class="update-date-svg"></div>
            </div>
          </div>
          <article class="price-list-warpper">
            <div class="price-list">
              <div class="price-list-header">
                <h3 class="padding-30 f-17 f-b">평일</h3>
              </div>
              <div class="price-line-seperator" style="height: 2px; border-top: 2px solid #111111;"></div>
              <ol>
                  <li th:each="price, iterStat : ${content.weekdayPriceList}">
                      <a th:href="${price.link}" target="_blank">
                          <div class="price-day padding-30">
                              <div class="price-left">
                                  <div class="ranku daily"
                                       th:classappend="${
                                   iterStat.count == 1 ? ' gold' :
                                   (iterStat.count == 2 ? ' sliver' :
                                   (iterStat.count == 3 ? ' bronze' : ' normal'))
                                 }">
          <span class="ranku-value"
                th:text="${iterStat.count}">?</span>
                                  </div>

                                  <p class="f-15 f-b"
                                     th:text="${#temporals.format(price.stayDate, 'M월 d일 EEEE')}">
                                  </p>
                              </div>

                              <div class="price-right">
                                  <div class="price-value">
                                      <div style="display: flex; gap: .2rem;">
                                          <p class="discount-percent f-12"
                                             th:text="${price.sailPercent}"></p>
                                          <p class="crossed-out-rate f-12"
                                             th:text="${price.crossedOutRate}"></p>
                                      </div>
                                      <p class="daily-price f-15"
                                         th:text="${price.dailyRate}"></p>
                                  </div>
                                  <div class="location-right-big"></div>
                              </div>
                          </div>
                      </a>
                      <div class="price-line-seperator"></div>
                  </li>
              </ol>
              <button class="btn-st more-price">더보기</button>
            </div>
            <div class="price-list active">
              <div class="price-list-header">
                <h3 class="padding-30 f-17 f-b">주말</h3>
              </div>
              <div class="price-line-seperator" style="height: 2px; border-top: 2px solid #111111;"></div>
              <ol>
                  <li th:each="price, iterStat : ${content.weekendPriceList}">
                      <a th:href="${price.link}" target="_blank">
                          <div class="price-day padding-30">
                              <div class="price-left">
                                  <div class="ranku daily"
                                       th:classappend="${
                               iterStat.count == 1 ? ' gold' :
                               (iterStat.count == 2 ? ' sliver' :
                               (iterStat.count == 3 ? ' bronze' : ' normal'))
                             }">
                      <span class="ranku-value"
                            th:text="${iterStat.count}">?</span>
                                  </div>

                                  <p class="f-15 f-b"
                                     th:text="${#temporals.format(price.stayDate, 'M월 d일 EEEE')}">
                                  </p>
                              </div>

                              <div class="price-right">
                                  <div class="price-value">
                                      <div style="display: flex; gap: .2rem;">
                                          <p class="discount-percent f-12"
                                             th:text="${price.sailPercent}"></p>
                                          <p class="crossed-out-rate f-12"
                                             th:text="${price.crossedOutRate}"></p>
                                      </div>
                                      <p class="daily-price f-15"
                                         th:text="${price.dailyRate}"></p>
                                  </div>
                                  <div class="location-right-big"></div>
                              </div>
                          </div>
                      </a>
                      <div class="price-line-seperator"></div>
                  </li>
              </ol>
              <button class="btn-st more-price">더보기</button>
            </div>
          </article>
        </section>

        <section class="review-section">
          <h3>사이트 평점 한눈에 확인해보세요!</h3>
          <div class="review-flex">
              <a th:href="${content.bestLink}" target="_blank">
                  <div class="review-item">
                      <div class="site-logo agoda"></div>
                      <h4 class="f-14">전세계 숙박 최저가</h4>
                      <div style="width: 100%; height: 1px; border-top: 1px solid #d9d9d9;"></div>

                      <div class="ranku-total-score"
                           th:if="${content.brandReviewList != null and !#lists.isEmpty(content.brandReviewList)}">
                          <div class="score review"
                               th:classappend="${content.rankuScore >= 86 ? 'best' :
                           (content.rankuScore >= 71 ? 'verygood' :
                           (content.rankuScore >= 41 ? 'good' : 'normal'))}">
                          </div>
                          <p class="score-value f-17 f-b"
                             th:text="${content.brandReviewList.get(0).allScore}"></p>
                          <div style="height: 1.6rem;"></div>
                      </div>

                      <!-- 리스트가 없을 때 대체 UI -->
                      <div class="ranku-total-score"
                           th:if="${content.brandReviewList == null or #lists.isEmpty(content.brandReviewList)}">
                          <div class="score review normal"></div>
                          <p class="score-value f-17 f-b">?</p>
                          <div style="height: 1.6rem;"></div>
                      </div>

                      <button class="btn-st">리뷰 확인해보기</button>
                  </div>
              </a>
            <a>
              <div class="review-item">
                <div class="site-logo tripcom"></div>
                <h4 class="f-14">글로벌 여행 플랫폼</h4>
                <div style="width: 100%; height: 1px; border-top: 1px solid #d9d9d9;"></div>
                <div class="ranku-total-score">
                  <div class="score review normal"></div>
                  <p class="score-value f-17 f-b">?</p>
                  <div style="height: 1.6rem;"></div>
                </div>
                <button class="btn-st">리뷰 확인해보기</button>
              </div>
            </a>
            <a>
              <div class="review-item">
                <div class="site-logo jyaran"></div>
                <h4 class="f-14">일본여행·숙박 1위</h4>
                <div style="width: 100%; height: 1px; border-top: 1px solid #d9d9d9;"></div>
                <div class="ranku-total-score">
                  <div class="score review normal"></div>
                  <p class="score-value f-17 f-b">?</p>
                  <div style="height: 1.6rem;"></div>
                </div>
                <button class="btn-st">리뷰 확인해보기</button>
              </div>
            </a>
            <a>
              <div class="review-item">
                <div class="site-logo rakuten"></div>
                <h4 class="f-14">일본 최대 여행몰</h4>
                <div style="width: 100%; height: 1px; border-top: 1px solid #d9d9d9;"></div>
                <div class="ranku-total-score">
                  <div class="score review normal"></div>
                  <p class="score-value f-17 f-b">?</p>
                  <div style="height: 1.6rem;"></div>
                </div>
                <button class="btn-st">리뷰 확인해보기</button>
              </div>
            </a>
            <a>
              <div class="review-item">
                <div class="site-logo tripadvisor"></div>
                <h4 class="f-14">여행자 리뷰 1위</h4>
                <div style="width: 100%; height: 1px; border-top: 1px solid #d9d9d9;"></div>
                <div class="ranku-total-score">
                  <div class="score review normal"></div>
                  <p class="score-value f-17 f-b">?</p>
                  <div style="height: 1.6rem;"></div>
                </div>
                <button class="btn-st">리뷰 확인해보기</button>
              </div>
            </a>
          </div>
        </section>

        <section class="description-section">
          <h3>세부내용</h3>
          <p class="hotel-description f-15" th:text="${content.description}"></p>
          <a><button class="btn-st" style="width: 100%;">자세히 보러가기</button></a>
        </section>

        <section class="group-review">
          <h3>같이가면 좋은 곳? 유형별 랭킹</h3>
          <div class="group-flex-box">
            <div class="group-flex">
              <div class="group" th:classappend="${content.preferenceValue ==2} ? ' best'">
                <div class="group-name">
                  <div class="couple-svg"></div>
                  <p><b>커플</b>에게 인기</p>
                </div>
                <div class="f-15 f-b" th:text="${content.averageCoupleScore }"></div>
              </div>
              <div class="group" th:classappend="${content.preferenceValue == 4} ? ' best'">
                <div class="group-name">
                  <div class="family-svg"></div>
                  <p><b>가족</b>에게 인기</p>
                </div>
                <div class="f-15 f-b" th:text="${content.averageFamilyScore }"></div>
              </div>
            </div>
            <div class="group-flex">
              <div class="group" th:classappend="${content.preferenceValue == 3} ? ' best'">
                <div class="group-name">
                  <div class="solo-svg"></div>
                  <p><b>솔로</b>에게 인기</p>
                </div>
                <div class="f-15 f-b" th:text="${content.averageSoloScore }"></div>
              </div>
              <div class="group" th:classappend="${content.preferenceValue == 1} ? ' best'">
                <div class="group-name">
                  <div class="business-svg"></div>
                  <p><b>비지니스</b>에게 인기</p>
                </div>
                <div class="f-15 f-b" th:text="${content.averageBusinessScore }"></div>
              </div>
            </div>
            <div class="group-flex">
              <div class="group full">
                <div class="group-name">
                  <div class="ranku-noback-svg"></div>
                  <p class="f-b" style="color: #ffffff;">Ranku 총점</p>
                </div>
                <div class="f-15 f-b" style="color: #ffffff;" th:text="${content.averageAllScore }"></div>
              </div>
            </div>
          </div>
        </section>
      </section>

    </section>
    <section class="main-r">
      <div class="banner-colum">
        <a><img src="/public/banner/trip-row-banner.png" style="width: 18rem;"></a>
      </div>
    </section>
  </main>

  <section class="bottom-fix-section">
    <div class="go-agoda-warpper">
      <div class="go-agoda">
        <p class="f-15 f-b"><span class="f-15 f-b" style="color: #f06265">마지막일 수 있는 방</span>, 확인해보세요!</p>
        <a th:href="${content.bestLink}" target="_blank"><button class="btn-st f-15 f-b shine-btn">보러가기</button></a>
      </div>
    </div>
  </section>

  <footer>
    <div class="foot-container">
      <div class="f-meta">
        <p class="f-14 f-b" style="color: #7d7d7d;">ADERS</p>
        <p class="f-14" style="color: #7d7d7d">대표이사: 이지형</p>
        <p class="f-14" style="color: #7d7d7d;">Email: property@aders-international.com</p>
      </div>
      <div class="f-12" style="color: #7d7d7d">ⓒ 2025 rankujp INC.</div>
    </div>
  </footer>
</body>
<script src="/js/main.js" defer></script>
</html>